<div class="article__links">
	{% if tags == 'news' %}
		<a href="/news/" class="back-btn">Назад до <b>Новин</b></a>
	{% elif tags == 'lessons' %}
		<a href="/lessons/" class="back-btn">Назад до <b>Уроків історії</b></a>
	{% elif tags == 'copywrite' %}
		<a href="/copywrite/" class="back-btn">Назад до <b>Копірайтів</b></a>
	{% elif tags == 'stories' %}
		<a href="/stories/" class="back-btn">Назад до <b>Розповідей</b></a>
	{% endif %}
	<a href="/articles/" class="back-btn back-btn--all">Пошук статей</a>
</div>