<footer class="footer">
	<div class="container">
		<ul class="footer__menu">
			<li><a href="/">Головна</a></li>
			<li><a href="/lessons/">Цікаві уроки історії</a></li>
			<li><a href="/news/">Новини</a>
			<li><a href="/copywrite/">Копірайт</a></li>
			<li><a href="/stories/">Розповіді</a></li>
			<li><a href="/about/">Про сайт</a></li>
		</ul>
		<div class="footer__bottom">
			<div class="footer__email">
				<p>По всім питанням звертайтесь:</p>
				<a href="mailto:radzenkoirina@gmail.com">radzenkoirina@gmail.com</a>
			</div>
			<div class="footer__year">{{metadata.title}} – 2020 - <span class="year"></span> </div>
		</div>
	</div>
</footer>