<header class="header container">
	<div class="header__logo">
		<a href="/">HistoryBook</a>
	</div>
	<ul class="header__menu" id="menu">
		<li><a class="header__menu-link" href="/">Головна</a></li>
		<li><a class="header__menu-link" href="/lessons/">Цікаві уроки історії</a></li>
		<li><a class="header__menu-link" href="/news/">Новини</a></li>
		<li><a class="header__menu-link" href="/copywrite/">Копірайт</a></li>
		<li><a class="header__menu-link" href="/stories/">Розповіді</a></li>
		<li><a class="header__menu-link" href="/about/">Про сайт</a></li>
	</ul>
	<button id="mobileMenuBtn" class="mobile-menu-btn" rel="Відкрити меню">
		<span></span>
	</button>
</header>