<header class="header">
	<div class="header__logo">
		<a href="/">HistoryBook</a>
	</div>
	<ul class="header-menu" id="menu">
		<li class="header-menu__item"><a href="/">Головна</a></li>
		<li class="header-menu__item"><a href="/articles/lessons/">Цікаві уроки історії</a></li>
		<li class="header-menu__item"><a href="/articles/news/">Новини</a></li>
		<li class="header-menu__item"><a href="/articles/copywrite/">Копірайт</a></li>
		<li class="header-menu__item"><a href="/articles/stories/">Розповіді</a></li>
		<li class="header-menu__item"><a href="/about/">Про сайт</a></li>
	</ul>
	<button id="mobileBtn" class="open-menu" onclick="menuBtn()">☰</button>
</header>