* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

button {
	display: block;
	font-family: inherit;
	font-size: inherit;
	background: transparent;
	border: none;
}

body {
	font-family: 'PT Serif', serif;
	font-size: 18px;
}

.container {
	padding: 0 150px;
}

/*page*/

.page-cover {
	position: relative;
	padding-top: 150px;
	padding-bottom: 20px;
	background-color: #c4c4c4;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
	margin-bottom: 40px;
	border-bottom: 3px solid #ff5353;
}

.page-cover--index {
	background-image: url(/images/page/index.jpg);
}

.page-cover--lessons {
	background-image: url(/images/page/lessons.jpg);
}

.page-cover--news {
	background-image: url(/images/page/news.jpg);
}

.page-cover--copywrite {
	background-image: url(/images/page/copywrite.jpg);
}

.page-cover--stories {
	background-image: url(/images/page/stories.jpg);
}

.page-title {
	font-size: 35px;
	padding: 20px 0;
}

.page-title--cover {
	background: #fff;
	padding: 5px 10px 5px 20px;
	width: 25%;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin-bottom: 5px;
}

.page-subtitle {
	font-size: 18px;
	font-weight: normal;
	background: #fff;
	padding: 5px 10px 5px 20px;
	width: 60%;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

/*buttons*/

.mobile-menu-btn {
	width: 40px;
	height: 40px;
	display: none;
	background: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
}

.mobile-menu-btn span {
	position: relative;
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 50px;
	background-color: #fff;
	transition: .3s;
}

.mobile-menu-btn span:before,
.mobile-menu-btn span:after {
	content: '';
	position: absolute;
	left: 0;
	display: block;
	background-color: #fff;
	width: 100%;
	height: 4px;
	border-radius: 50px;
	transition: .3s;
}

.mobile-menu-btn span:before {
	top: -10px;
}

.mobile-menu-btn span:after {
	top: 10px;
}

.mobile-menu-close span {
	background-color: #ff5353;
}

.mobile-menu-close span:before,
.mobile-menu-close span:after {
	top: 0;
}
.mobile-menu-close span:before {
	transform: rotate(45deg);
}
.mobile-menu-close span:after {
	transform: rotate(-45deg);
}

.btn-more {
	display: block;
	width: 240px;
	text-align: center;
	background-color: #ff5353;
    color: #fff;
    padding: 8px 0;
	text-transform: uppercase;
	margin: 0 auto;
	transition: .3s;
	margin-bottom: 30px;
}

.btn-more:hover {
	background-color: #e94a4a;
}

.back-btn {
	display: inline-block;
	background-color: #ff5353;
	color: #fff;
	padding: 10px 40px 10px 50px;
	margin-top: 15px;
	text-transform: uppercase;
	position: relative;
	transition: .3s;
}

.back-btn--all {
	padding: 10px 50px 10px 40px;
}

.back-btn:before {
    height: 0;
    border: 6px solid transparent;
    position: absolute;
    display: block;
    content: "";
    border-right-color: #fff;
    left: 16px;
    top: 15px;
    transition: .3s;
}

.back-btn--all:before {
	display: none;
}

.back-btn--all:after {
    height: 0;
    border: 6px solid transparent;
    position: absolute;
    display: block;
    content: "";
    border-left-color: #fff;
    right: 16px;
    top: 15px;
    transition: .3s;	
}

.back-btn:hover {
	background-color: #e94a4a;
}

.back-btn:hover:before {
	left: 20px;
}

.back-btn--all:hover:after {
	right: 20px;
}

.print-btn {
	display: flex;
	align-items: center;
	font-size: 14px;
	background-color: #f2f2f2;
	padding: 10px 20px;
	text-transform: uppercase;
	line-height: 1;
	transition: .3s;
	cursor: pointer;
}

.print-btn:hover {
	background-color: #ddd;
}

.print-btn:before {
	content: url(/images/icons/print-icon.svg);
	padding-right: 10px;
	margin-bottom: -2px;
}


/* header  */

.header {
	width: 100%;
	background-color: #ff5353;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	box-sizing: border-box;
	color: #fff;
}

.header__logo {
	font-family: 'Playfair Display', serif;
	font-size: 35px;
	padding: 10px 0 15px;
}

.header__menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.header__menu-link {
	display: block;
	margin: 0 5px;
	padding: 5px 15px;
    transition: .3s;
}

.header__menu-link:hover,
.header__menu-link.active {
	background-color: #fff;
	color: #000;
	border-radius: 3px;
}

/* cards  */

.cards {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.card {
	display: block;
	background-color: #fff;
	padding: 20px 30px;
	box-sizing: border-box;
	width: calc(100%/3.2);
    border-top: 3px solid #ff5353;
   	box-shadow: 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 25px;
}

.card:first-child {
	width: calc(100%/1.87);
}

.card:nth-child(2) {
	width: calc(100%/2.3);
}

.card:hover {
	background-color: #f7f7f7;
}

.card__title {
	font-size: 25px;
	margin: 12px 0;
}

.card__date {
	display: block;
	color: #ff5353;
	font-size: 14px;
	margin-bottom: 5px;
}

.card__description {
	margin-bottom: 15px;
}

/* article  */

.article-container {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.article {
	width: 80%;
}

.article__title {
	font-size: 40px;
	line-height: 1;
	font-weight: bold;
}

.article__title--page {
	padding-top: 20px;
}

.article__date {
	display: block;
	font-size: 16px;
	margin-top: 10px;
	line-height: 1;
	color: #ff5353;
}

.article__body {
	margin: 20px 0;
	line-height: 1.5;
}

.article__body img {
	max-width: 100%;
	margin: 20px 0;
}

.article__body h1
.article__body h2,
.article__body h3,
.article__body h4,
.article__body h5,
.article__body h6 {
	margin-top: 25px;
	margin-bottom: 10px;
}

.article__body ul,
.article__body ol
{
	margin-left: 45px;
	margin-bottom: 15px;
}

.article__body ul li {
	list-style-type: disc;
}

.article__body ol li {
	list-style-type: decimal;
}

.article__body p {
	margin-bottom: 15px;
} 

.article__body table {
	display: block;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: 15px;
	overflow-x: auto;
}

.article__body table thead {
	background-color: #f2f2f2;
}

.article__body table th,
.article__body table td {
	border: 1px solid #000;
	padding: 10px 15px;
}

.article__links {
	display: flex;
	justify-content: space-between;
}

/* sidebar  */

.sidebar {
	width: 15%;
	border-left: 1px solid #ddd;
	padding-left: 30px;
	margin-top: 76px;
}

.sidebar__title {
	font-size: 15px;
	margin-bottom: 15px;
	text-transform: uppercase;
	background-color: #ff5353;
	padding: 5px 10px;
	color: #fff;
	text-align: center;
}

.sidebar__link {
	display: block;
	font-size: 15px;
	font-weight: bold;
	transition: all .3s ease;
}

.sidebar__link:hover {
	color: #ff5353;
}

.sidebar__description {
	font-size: 14px;
	color: #777;
	margin-bottom: 15px;
}

/* search */
.search {
	margin-top: 20px;
}

.search__title {
	font-size: 18px;
	margin-bottom: 10px;
}

/* recent  */

.recent__item {
	display: flex;
	align-items: center;
	border: 2px solid #ddd;
	padding: 10px 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	transition: .3s;
}

.recent__item:hover {
	background-color: #f2f2f2;
}

.recent__date {
	color: #666;
}

.recent__title {
	padding-left: 20px;
	transition: .3s;
}

.recent__item:hover .recent__title {
	color: #ff5353;
}

/*footer*/

.footer {
	width: 100%;
	margin-top: 40px;
	background-color: #585858;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 40px;
	box-sizing: border-box;
}

.footer__menu {
	display: flex;
	justify-content: center;
	text-transform: uppercase;
}

.footer__menu a {
	padding: 5px 15px;
}

.footer__menu a:hover {
	text-decoration: underline;
}

.footer__bottom {
	margin-top: 30px;
	text-align: center;
}

.footer__email p {
	text-transform: uppercase;
	font-size: 12px;
}

.footer__email a {
	font-weight: bold;
	font-size: 20px;
}

.footer__year {
	margin-top: 30px;
}

/*404*/

.error-page {
	width: 100%;
	text-align: center;
}

.error {
	font-weight: bold;
	font-size: 200px;
}

.error-home {
	margin-top: 40px;
}

.error-btn {
	color: #fff;
	display: inline-block;
	padding: 10px 20px;
	background-color: #ff5353;
}

@media (max-width: 1350px) {
	.container {
		padding: 0 100px;
	}	
}

@media (max-width: 1180px) {
	.header {
		flex-direction: column;
	}

	.header__menu {
		margin-bottom: 20px;
	}
}

@media (max-width: 980px) {
	.container {
		padding: 0 50px;
	}

	.cards {
		max-width: 75%;
		margin: 0 auto;
	}

	.page-title {
		text-align: center;
	}
	
	.card:first-child {
		width: 100%;
	}
	
	.card:nth-child(2) {
		width: 100%;
	}
	
	.card {
		width: 100%;
	}
	
	.card__title {
		word-wrap: break-word;
	}
	.footer__menu {
		flex-wrap: wrap;
	}
}

@media (max-width: 850px) {
	.article-container {
		flex-direction: column;
	}
	.article {
		width: 100%;
	}
	.sidebar {
		width: 100%;
		border-left: none;
		padding-left: 0;
		margin-top: 30px;
	}
	.sidebar__title {
		padding: 5px 7px;
	}
}

@media (max-width: 785px) {

	.container {
		padding: 0;
	}
	.article-container {
		padding: 0 20px;
	}

	.header {
		padding: 0 20px;
		flex-direction: row;
	}
	.mobile-menu-btn {
		display: block;
	}

	.header__menu {
		position: absolute;
		top: 70px;
		left: 0;
		background-color: #ff5353;
		width: 100%;
		box-shadow: 0 2px 3px rgba(0,0,0,.3);
		visibility: hidden;
		opacity: 0;
		transform: translateY(-100%);
		z-index: 20;
		flex-wrap: wrap;
		justify-content: center;
		transition: .3s;
		padding-bottom: 20px;
	}

	.mobile-menu-show {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}

	.header__menu-link {
	    padding: 15px 8px;
	}

	.header__menu-link:hover {
		background: none;
	}

	.search-container {
		padding: 0 20px;
	}

	.footer {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.footer__menu li {
		margin-bottom: 10px;
	}

}

@media (max-width: 690px) {
	.page-subtitle {
		width: 80%;
	}
	.footer__menu {
		flex-direction: column;
		align-items: center;
		margin-top: 30px;
	}
}

@media (max-width: 640px) {
	
	.article__title {
		font-size: 32px;
	}
}

@media (max-width: 580px) {
	.article__links {
		flex-direction: column;
	}
	.recent__item {
		flex-direction: column-reverse;
	}
}
 
@media (max-width: 500px) {
	.cards {
		max-width: 85%;
	}
	.page-title:not(.page-title--cover) {
		padding-left: 10px;
		padding-right: 10px;
	}
	.article__body table {
		width: 100%;
	}
}

@media (max-width: 450px) {

	.header__menu {
	    flex-direction: column;
	    align-items: center;
		padding: 20px 40px;
	}

	.header__menu li {
		width: 100%;
	}

	.header__menu-link {
		font-size: 20px;
	    padding: 10px 20px;
		width: 100%;
		text-align: center;
	}
}