---
layout: page.njk
permalink: /404/index.html
eleventyExcludeFromCollections: true
---

<main class="content container">
	<div class="error-page">
		<div class="error">404</div>		
		<h4>Нажаль така сторінка не існує або знаходиться в розробці</h4>
		<div class="error-home">
			<a href="/" class="error-btn">Повернутися на головну</a>
		</div>	
	</div>
</main>