---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - article
    - articles
    - tagList
  addAllPagesToCollections: true
layout: page.njk
eleventyComputed:
  title: "{{tag}}"
permalink: /articles/{{ tag }}/

---

{% set articleslist = collections[ tag ] %}

{% if page.url == '/articles/lessons/' %}
<div class="page-cover page-cover--lessons">
  <h2 class="page-title page-title--cover">Цікаві уроки історії</h2>
  <h3 class="page-subtitle">Цікаві форми проведення уроків історії в школі.</h3>
</div> 
{% elif page.url == '/articles/news/' %}
<div class="page-cover page-cover--news">
  <h2 class="page-title page-title--cover">Останні новини</h2>
  <h3 class="page-subtitle">Огляд останніх подій в освіті, в цілому Україні та світі.</h3>
</div> 
{% elif page.url == '/articles/copywrite/' %}
<div class="page-cover page-cover--copywrite">
  <h2 class="page-title page-title--cover">Копірайт статті</h2>
  <h3 class="page-subtitle">Копірат текстів з високим рівнем унікальності.</h3>
</div> 
{% elif page.url == '/articles/stories/' %}
<div class="page-cover page-cover--stories">
  <h2 class="page-title page-title--cover">Розповіді</h2>
  <h3 class="page-subtitle">Представляю вашій увазі власну повість.</h3>
</div> 
{% endif %}

{% include "articles.njk" %}
