---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
      <url>
        <loc>https://historybook.netlify.app/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>1.00</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/lessons/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/news/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/copywrite/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/stories/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/about/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/i-znovu-pro-koronavirus/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/chi-vshanuiemo-pamiat-zaghiblikh-u-babinomu-iaru/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/9-travnia-dien-pieriemoghi/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/karantin-dot-dpa-dot-zno/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/moloko-dlia-shkoliariv/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/ukrayinski-ziemli-pid-vladoiu-dvokh-impierii-ukrayinskie-natsionalnie-vidrodzhiennia/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/kozatska-ukrayina-5-klas/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/krimskie-khanstvo/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/klas-krosvord-dzhieriela-iaki-zbierighaiut-pamiat-pro-istoriiu-kniazhoyi-rusi-ukrayini/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/klas-vstup/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/sontsie-nad-richkoiu-3/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/sontsie-nad-richkoiu-2/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/sontsie-nad-richkoiu/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.80</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/klas-vstup-do-istoriyi-ukrayini/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/klas-kieivord/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/klas-golovolomka/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/iuni-doslidniki/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/vikladannia-istoriyi-v-shkoli/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/krosvord-dlia-navchannia/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/mon-zaproponuvav-rieformu-sistiemi-zarplat-uchitieliv/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/v-vierkhovnii-radi-ukrayini-proponuiut-zaboroniti-mobilni-tieliefoni-v-shkoli/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/zakon-ukrayini-pro-povnu-zaghalnu-sieriedniu-osvitu/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/pratsievlashtuvannia-vipusknikiv-vuziv/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/istoriia-svietra/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/svitshot/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/vazhnyie-i-nuzhnyie-kantstovary/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/pomoshch-pri-riemontie-doma/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/ortopiedichieskaia-podushka/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/noski/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/moda-tsiklichna/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/minitraktor/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/kak-zaniatsia-sportom/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/chto-v-nashikh-odieialakh/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/muzyka-dushi/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/arabskiie-dukhi/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
      <url>
        <loc>https://historybook.netlify.app/articles/</loc>
        <lastmod>2020-09-18T11:29:07+00:00</lastmod>
        <priority>0.64</priority>
      </url>
</urlset>