---
layout: page.njk
---
<main class="content container article-container">
  <article class="article">
    <header class="article__header">
      <h1 class="article__title"> {{title}} </h1>
      <time class="article__date" datetime="{{ date | isoDate }}">{{date | articleDate}}</time>
    </header>
    <section class="article__body">
      {{ content | safe }}
      <button class="print-btn">Версія для друку</button>
    </section>
  	{% include 'back-btn.njk' %}
  </article>
  {% include 'sidebar.njk' %}
</main>