<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="lQSPzbQcwpZmZs8vdf92twdc_BtcE6thSqG2F7PmYMA" />
    <title>{{title or metadata.title}}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/print.css" media="print">
    <link rel="icon" type="image/png" href="/images/icons/icon_512.png">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&family=Playfair+Display&display=swap" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2Y5TZ200DS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-2Y5TZ200DS');
    </script>
  </head>
  <body>
    {% include 'header.njk' %}

    {{content | safe}}
     
    {% include 'footer.njk' %}
     <script src="/scripts/main.js"></script>
  </body>
</html>
